body{
	margin: 0px;
	background-image: url(../img/a4.jpg);
}
#d1{
	text-align: center;
	margin-top:45%;
	margin-left:8%;
}
#d1>h1{
	text-align: center;
}
#d1>h2{
	text-align: center;
}
#d1>hr{
	width:0px;
	height:0px;
}
#d2{
	text-align: center;
	position: relative;
	top:200px;
}
