body{
	margin: 0px;
	height:100%;
	background-image: url(../img/a4.jpg);
	text-align: center;
}
#d1{
	margin-top:45%;
	margin-left:8%;
}
#d1>h1{
	text-align: center;
}
#d1>h2{
	text-align: center;
}
#d1>hr{
	width:0px;
	height:0px;
}
#d2{
	align-content: center;
margin-top:20%;
}
