body{
	margin: 0px;
	background-image: url(../img/b8.jpg);
}
#d1{
	margin-top:450px;
	margin-left:100px;
	font-size:50px;
}
#d2{
	background-image: url(../img/d1.jpg);
	font-size:50px;
	width:250px;
	height: 130px;
	margin-left:120px;
	border-radius: 30px;
}
#d3{
	background-image: url(../img/d2.jpg);
	font-size:50px;
	width:250px;
	height: 130px;
	margin-left:130px;
	border-radius: 30px;
}
#d4{
	background-image: url(../img/d3.jpg);
	font-size:50px;
	width:250px;
	height: 130px;
	margin-top: 120px;
	margin-left:120px;
	border-radius: 30px;
}
